<span>
    <center class="top-buttons">
        <div class="btn-group">
            <button ng-class="{'btn-warning': activePage == 'posts'}" ng-click="gotoPartial(partialEnum.posts)" class="btn btn-small"><i class="icon-home icon-white"></i> Group</button>
            <button ng-class="{'btn-warning': activePage == 'gallery'}" ng-click="gotoPartial(partialEnum.gallery)" class="btn btn-small"><i class="icon-th icon-white"></i> Gallery</button>
            <button ng-class="{'btn-warning': activePage == 'meters'}" ng-click="gotoPartial(partialEnum.meters)" class="btn btn-small"><i class="icon-signal icon-white"></i> Meters</button>
            <button ng-class="{'btn-warning': activePage == 'todos'}" ng-click="gotoPartial(partialEnum.todos)" class="btn btn-small"><i class="icon-check icon-white"></i> Todos</button>
        </div>
    </center>

    <h4 class="page-title" class="muted">{{groupName}}</h4>
    <button class="btn btn-info btn-small compose" ng-click="gotoComposePost()"><i class="icon-pencil icon-white"></i> Compose</button>
</span>