<div class="well span12">
    <div class="row-fluid">
        <button class="btn btn-info btn-block" ng-click="addPhoto()"><i class="icon-camera-retro"></i> Add Group Photo</button>
    </div>

    <div ng-show="progressValue > 0" class="row-fluid">&nbsp</div>
    <div ng-show="progressValue > 0" class="row-fluid">
        <progress value="progressValue"></progress>
    </div>

    <div ng-show="uploadedImageUrl" class="row-fluid">&nbsp</div>
    <div ng-show="uploadedImageUrl" class="row-fluid">
        <img ng-src="{{uploadedImageUrl}}" src="" width="250" height="250" alt="Group Image" />
    </div>

    <div class="row-fluid">&nbsp</div>
    <div class="row-fluid">
        <div class="alert alert-error" ng-show="errorMsg">
            <strong>Oops Problem with the image,</strong> {{errorMsg}}
        </div>
    </div>

    <input id="fileChooser" file="file" file-change="fileChange" name="image" type="file" accept="image/*;capture=camera" style="display: none;"  />
</div>

