<div class="upload-area row-fluid">
    <button type="button" class="btn btn-warning bottom-space half-right" ng-click="addPhoto()"><i class="icon-camera-retro"></i> Change</button>
    <span class="img-wrapper bottom-space">
        <img ng-src="{{uploadedImageUrl}}" src="" class="group-image" alt="Group Image" />
        <div  ng-show="showProgressBar" class="image-loader">
            <img src="/img/loader.gif">
        </div>
    </span>

    <div class="row-fluid" ng-show="showProgressBar">
        <progress value="progressValue" class="progress-warning progress-striped active"></progress>
    </div>

    <div class="row-fluid">
        <div class="alert alert-error pull-left" ng-show="errorMsg">
            <strong>Oops Problem with the image,</strong> {{errorMsg}}
        </div>
    </div>

    <input id="fileChooser" file="file" file-change="fileChange" name="image" type="file" accept="image/*;capture=camera" style="display: none;"  />
</div>

