<div class="thumbnail well">
    <div class="row-fluid">
        <h6 class="post-details">{{post.username}} <span class="pull-right">{{post.createdOn | fromNow}}</span></h6>

        <span ng-show="isTooBigMessage(post.data)">
            <h5 ng-show="!post.isShowFull" ng-bind="toShortStr(post)"></h5>
            <h5 ng-show="post.isShowFull" ng-bind="post.data"></h5>
            <button ng-click="toggleTextLength(post.data)" class="btn btn-link">
                <span ng-show="!post.isShowFull">more</span>
                <span ng-show="post.isShowFull">less</span>
            </button>
        </span>

        <img ng-show="post.image" ng:class="{true:'post-image-small', false:'post-image'}[post.data != '' ]" class="pull-left" ng-src="{{post.image}}" src="" alt="" />
        <p class="post-content" ng-show="!isTooBigMessage(post.data)" ng-bind="post.data"></p>

    </div>
</div>
