
</div>
<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<div ng-hide="hideBottomMenu" class="navbar navbar-fixed-bottom static">-->
    <!--<div class="navbar-inner">-->
        <!--<div class="continer">-->
            <!--<ul class="nav">-->
                <!--<li ng-click="" class="pull-left"><a title="Home" href="/home"><i class="icon-home icon-large"></i><p>Home</p></a></li>-->

                <!--<li ng-click="gotoGroupSettings()" ng-show="showSettings" class="pull-right"><a title="Settings" href="#"><i class="icon-cog icon-large"></i><p>Settings</p></a></li>-->


                <!--&lt;!&ndash;Home&ndash;&gt;-->
                <!--<li ng-click="gotoCreateGroup()" ng-show="homePage"><a title="New Group" href="#"><i class="icon-plus icon-large"></i><p>New</p></a></li>-->
                <!--<li ng-click="gotoJoinGroup()" ng-show="homePage"><a title="Join Group" href="#"><i class="icon-list-alt icon-large"></i><p>Join</p></a></li>-->
                <!--<li ng-click="gotoComposePost()" ng-show="homePage"><a title="Compose" href="#"><i class="icon-pencil icon-large"></i><p>Compose</p></a></li>-->


                <!--&lt;!&ndash;Group&ndash;&gt;-->
                <!--<li ng-click="switchView(partialEnum.news)" ng-show="groupPage"><a title="News" href="#"><i class="icon-home icon-large"></i><p>News</p></a></li>-->
                <!--<li ng-click="switchView(partialEnum.gallery)" ng-show="groupPage"><a title="Gallery" href="#"><i class="icon-th icon-large"></i><p>Gallery</p></a></li>-->
                <!--<li ng-click="switchView(partialEnum.meters)" ng-show="groupPage"><a title="Meters" href="#"><i class="icon-signal icon-large"></i><p>Meters</p></a></li>-->
                <!--<li ng-click="switchView(partialEnum.todos)" ng-show="groupPage"><a title="Todos" href="#"><i class="icon-check icon-large"></i><p>Todos</p></a></li>-->

                <!--&lt;!&ndash;<center class="top-buttons">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button ng-class="{'btn-warning': view == 'news'}" ng-click="switchView(partialEnum.news)" class="btn btn-small"><i class="icon-home icon-white"></i> News</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button ng-class="{'btn-warning': view == 'gallery'}" ng-click="switchView(partialEnum.gallery)" class="btn btn-small"><i class="icon-th icon-white"></i> Gallery</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button ng-class="{'btn-warning': view == 'meters'}" ng-click="switchView(partialEnum.meters)" class="btn btn-small"><i class="icon-signal icon-white"></i> Meters</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button ng-class="{'btn-warning': view == 'todos'}" ng-click="switchView(partialEnum.todos)" class="btn btn-small"><i class="icon-check icon-white"></i> Todos</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</center>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
