<!--<div class="navbar navbar-fixed-bottom static">-->
    <!--<div class="navbar-inner">-->
        <!--<div class="continer">-->
            <!--<ul class="nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->