<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="continer">
            <a class="pull-left logo bold" href="/"><img src="/img/logo.png">&nbsp;Goaa</a>
            <div class="pull-right">
                <a class="pull-left" href="#" ng-show="account.user().firstName">{{ account.user().firstName + ' ' + account.user().lastName }} | </a>
                <a class="pull-left" ng-click="account.logout()" ng-show="account.user()">&nbsp;Logout</a>
            </div>
        </div>
    </div>
</div>