
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="row-fluid">
                <a class="brand offset5" href="/">Goaa</a>
                <a class="brand offset2" ng-click="logout()"><small>Logout</small></a>
            </div>
        </div>
    </div>
</div>