
<div class="navbar navbar-fixed-top static">
    <div class="navbar-inner">
        <div class="continer">
            <a class="pull-left logo bold" ng-hide="account.user()" href="/"><img src="/img/logo.png">&nbsp;Goaa</a>
            <a class="pull-left back bold" ng-show="account.user()" href="#" onclick="history.back()"><i class="icon-chevron-left"></i>&nbsp;Back</a>
            <!--<div snap-toggle="left" class="pull-left snap-toggle" ng-hide="hideMenu">-->
                <!--<i class="icon-align-justify icon-large"></i></div>-->
            <div class="pull-right">
                <a class="pull-left" href="#" ng-show="account.user().firstName">{{ account.user().firstName + ' ' + account.user().lastName }} | </a>
                <a class="pull-left" href="#" ng-click="account.logout()" ng-show="account.user()">&nbsp;Logout</a>
            </div>
        </div>
    </div>
</div>
