        <!-- Libs Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
        <!--<script src="/js/libs/bootstrap.min.js"></script>-->
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/libs/bootstrapSwitch.js"></script>
        <script src="/js/libs/logger.js"></script>
        <script src="/js/libs/modernizr-2.6.2.min.js"></script>
        <script src="/js/libs/angular-1.1.5.min.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>-->
        <script src="/js/libs/angular-cookies.min.js"></script>
        <script src="/js/libs/ui-bootstrap-0.3.0.js"></script>
        <script src="/js/libs/ui-utils.min.js"></script>
        <script src="/js/libs/moment.min.js"></script>
        <script src="/js/libs/underscore-min.js"></script>
        <script src="/js/libs/snap.min.js"></script>
        <script src="/js/libs/angular-snap.min.js"></script>
        <!--<script src="/js/libs/angular-google-maps.js"></script>-->

        <!--todo: add in functionalty-->
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

        <!-- App Scripts -->
        <script src="/js/app.js"></script>
        <script src="/js/appGlobal.js"></script>

        <!-- Controllers -->
        <script src="/js/controllers/loginCtrl.js"></script>
        <script src="/js/controllers/signupCtrl.js"></script>
        <script src="/js/controllers/homeCtrl.js"></script>
        <script src="/js/controllers/testCtrl.js"></script>
        <script src="/js/controllers/createGroupCtrl.js"></script>
        <script src="/js/controllers/joinGroupCtrl.js"></script>
        <script src="/js/controllers/groupPreviewCtrl.js"></script>
        <script src="/js/controllers/groupCtrl.js"></script>
        <script src="/js/controllers/composeCtrl.js"></script>
        <script src="/js/controllers/meterCtrl.js"></script>
        <script src="/js/controllers/groupSettingsCtrl.js"></script>
        <script src="/js/controllers/groupAddMemberCtrl.js"></script>
        <script src="/js/controllers/groupAddMeterCtrl.js"></script>
        <script src="/js/controllers/snapCtrl.js"></script>

        <!-- Directives -->
        <script src="/js/directives/mySample.js"></script>
        <script src="/js/directives/imageUploader.js"></script>
        <script src="/js/directives/file.js"></script>
        <script src="/js/directives/newsThumb.js"></script>
        <script src="/js/directives/galleryThumb.js"></script>
        <script src="/js/directives/googleMap.js"></script>
        <script src="/js/directives/groupAddress.js"></script>

        <!-- Services -->
        <script src="/js/services/account.js"></script>
        <script src="/js/services/blockui.js"></script>
        <script src="/js/services/groupDb.js"></script>
        <script src="/js/services/socket.js"></script>

        <!-- Filters -->
        <script src="/js/filters/fromNow.js"></script>
        <script src="/js/filters/celTemp.js"></script>
        <script src="/js/filters/images.js"></script>

        <!-- Add to home screen - Iphone -->
        <script src="/js/addToHomeScreen.js"></script>
        <script src="/js/libs/add2home.js"></script>



        </body>
</html>
