<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="user-scalable=no, initial-scale=1 minimum-scale=1.0,  maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
              <!--content="width=320, initial-scale=1">-->
              <!--content="width=device-width">-->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"/>
        <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png"/>

        <!-- iPhone -->
        <link href="/img/startup-320x460.png"
              media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 1)"
              rel="apple-touch-startup-image">
        <!-- iPhone (Retina) -->
        <link href="/img/startup-640x920.png"
              media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">
        <!-- iPhone 5 -->
        <link href="/img/startup-640x1096.png"
              media="(device-width: 320px) and (device-height: 568px)
         and (-webkit-device-pixel-ratio: 2)"
              rel="apple-touch-startup-image">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">

        <!-- Fix bootstrap for retina screens -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Add to home screen - Iphone -->
        <link rel="stylesheet" href="/css/add2home.css">

        <!-- Custom -->
        <link rel="stylesheet" href="/css/style.css">
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb8x_Yg0V1AJnRXoKjp1vzde59ueS_CLU&sensor=false"></script>-->

        <!-- Progress Bar -->
        <link rel="stylesheet" href="/css/nprogress.css">

    </head>
    <body ng-app="App" ng-cloak>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
