<%- include head.ejs %>
        
       <!-- Header -->
       <%- include header.ejs %>

       <div ng-controller="firstCtrl">
       		<h1>{{data.message}}</h1>
       </div>

       <!-- Footer -->
       <%- include footer.ejs %>

<%- include bottom.ejs %>