<%- include head.ejs %>

   <%- include /shared/menu.ejs %>
    <div class="container-fluid" snap-content snap-options="{ disable: 'right' }">
       <div ng-view ng-animate=" 'view' "></div>
    </div>

<%- include bottom.ejs %>