<%- include head.ejs %>

       <div ng-view></div>
       <form action="api/upload" method="post"
       enctype="multipart/form-data">
       <label for="file">Filename:</label>
       <input type="file" name="image" id="file"><br>
       <input type="submit" name="submit" value="Submit">
       </form>

<%- include bottom.ejs %>