<%- include head.ejs %>
        
       <!-- Header -->
       <%- include header.ejs %>

       <div ng-view></div>

       <!-- Footer -->
       <%- include footer.ejs %>

<%- include bottom.ejs %>