/* import you bastard  */
/*@import 'bacon';*/

.simpleLink{
    color: #000000;
    text-decoration: none !important;
}
.headerBackground{
    background-color: lightgray;
}
/*body { padding-top: 95px; !important }                 *//*added by oryan for navbar space */
/*@media screen and (max-width: 768px) {      *//*added by oryan for navbar space */
  /*body { padding-top: 0px; !important }*/
/*}*/