
<!-- Header -->
<%- include ../shared/header.ejs %>


<div class="container-fluid">

    <form class="form-signin"   ng-submit="login()" enctype="multipart/form-data">
        <input type="text" class="input-block-level" placeholder="Group name" ng-model="Group.name">
        <p>Address:</p>
        <input type="text" class="input-block-level" placeholder="country" ng-model="Group.address.country">
        <input type="text" class="input-block-level" placeholder="city" ng-model="Group.address.city">
        <input type="text" class="input-block-level" placeholder="street" ng-model="Group.address.Street">
        <input type="text" class="input-block-level" placeholder="House" ng-model="Group.address.House">
        <input type="text" class="input-block-level" placeholder="Apartment" ng-model="Group.address.Apartment">












        <button class="btn btn-large btn-primary btn-block" type="submit">Sign In</button>
    </form>

    <div class="row-fluid">

    </div>
</div>