
<!-- Header -->
<%- include ../shared/header.ejs %>


<center class="top-buttons">
    <h4>Group Preview - {{group.name}}</h4>
</center>


<!-- Content -->
<div class="container-fluid main">
        <div id="map-canvas"/>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>