
<!-- Header -->
<%- include ../shared/header.ejs %>

<div class="row-fluid cover-image-wrapper">
    <img src="{{group.image}}" alt="Group Image"/>
    <h4>
        {{group.name}}
    </h4>
</div>

<!-- Content -->
<div class="container-fluid main">
    <input class="span12 input-large" placeholder="Insert Username..." type="text" ng-model="newMember.name" typeahead="name for name in getUserNames($viewValue) | filter:$viewValue">

    <div class="row-fluid">&nbsp;</div>
    <div class="alert alert-error span12" ng-show="isShowError">
        <strong>Oops we have a problem..</strong>
    </div>

    <button ng-click="addMember(newMember, group._id)" class="btn btn-info btn-block btn-large">Add Member</button>
</div>


<!-- Footer -->
<%- include ../shared/footer.ejs %>
