
<!-- Header -->
<%- include ../shared/header.ejs %>


<!-- Content -->
<div class="container-fluid main">
    <h3>Add meter to {{groupName}}</h3>

    <form name="signupForm" class="form-signin" ng-submit="addMeter(meter, group._id)">
        <p ng-show="formInvalid" class="red">Some fields are incorrect.</p>

        <input type="text" required ng-model="meter.name" ng-change="checkIsMeterNameExist(meter, group._id)" class="input-block-level" placeholder="Name">
        <p class="red" ng-show="isMeterNameExist">This name is taken</p>
        <input type="url" required ng-model="meter.url" class="input-block-level" placeholder="Management Url">
        <input type="text" required ng-model="meter.username" class="input-block-level" placeholder="Username">
        <input type="text" required ng-model="meter.password" class="input-block-level" placeholder="Password">


        <div class="row-fluid">&nbsp;</div>
        <div class="alert alert-error span12" ng-show="isShowError">
            <strong>Oops we have a problem..</strong>
        </div>

        <button class="btn btn-large btn-primary btn-block" type="submit" ng-show="meterId">Update Meter</button>
        <button class="btn btn-large btn-primary btn-block" type="submit" ng-hide="meterId">Add Meter</button>
    </form>
</div>


<!-- Footer -->
<%- include ../shared/footer.ejs %>
