<!-- Header -->
<%- include ../shared/header.ejs %>


<!-- Content -->
<div class="container-fluid main">
    <h3>Add meter to {{groupName}}</h3>

    <button ng-click="addMember(newMember, group._id)" class="btn btn-info btn-block btn-large">Add Member</button>
</div>


<!-- Footer -->
<%- include ../shared/footer.ejs %>