<!-- Header -->
<%- include ../shared/header.ejs %>

<center class="top-buttons">
<div class="btn-group">
    <button ng-click="gotoGallery()" class="btn btn-medium"><i class="icon-th icon-white"></i> Gallery</button>
    <button class="btn btn-medium"><i class="icon-signal icon-white"></i> Meters</button>
    <button class="btn btn-medium"><i class="icon-check icon-white"></i> Todos</button>
    <button class="btn btn-medium"><i class="icon-pencil icon-white"></i> Compose</button>
</div>
</center>

<!-- News Content -->
<div class="container-fluid" ng-show="isShowNews(view)">
    <div class="row-fluid">
        <div class="offset6">
            <h3>News</h3>
        </div>
    </div>
    <div news-thumb posts="group.posts"></div>
</div>

<!-- Gallery Content -->
<div class="container-fluid" ng-show="isShowGallery(view)">
    <div class="row-fluid">
        <div class="offset6">
            <h3>Gallery</h3>
        </div>
    </div>
    <div gallery-thumb posts="group.posts"></div>
</div>


<div class="navbar navbar-fixed-bottom static">
    <div class="navbar-inner">
        <div class="continer">
            <ul class="nav">
                <li><a href="#"><i class="icon-beer"></i> Group Settings</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>