<!-- Header -->
<%- include ../shared/header.ejs %>


<!-- Content -->
<div class="container-fluid main">
    <h1>Add member</h1>
    <!--<input type="text" required class="input-block-level" placeholder="Username" ng-model="newMember.name" ng-change="change()">-->
    <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue">
    <button class="btn btn-info btn-block">Add Member</button>
</div>


<!-- Footer -->
<%- include ../shared/footer.ejs %>