
<!-- Header -->
<%- include ../shared/header.ejs %>

<div group-header view='view' group-name='groupName'></div>

<div class="container-fluid top-space">
    <center>
        <!-- Add Todos -->
        <div class="row-fluid">
            <form ng-submit="addTodo()" class="no-margin">
                <div class="input-append">
                    <input type="text" ng-model="todoText" size="30" placeholder="What needs to be done?">
                    <button class="btn" type="submit"><i class="icon-plus"></i> Add</button>
                </div>
                <div class="alert alert-error" ng-show="errorMsg">
                    <strong>Error</strong> {{errorMsg}}
                </div>
            </form>
        </div>
    </center>


    <div class="row-fluid">
        <ul class="list">
            <li class="list-item" ng-class="{'todo-done': item.isDone}" ng-repeat="item in group.todos">
                <span class="pull-right">
                    <small>{{ item.username }}</small>
                    <button ng-hide="item.isDone || item.isEdit" class="btn btn-small" type="button" ng-click="item.isEdit = true"><i class=" icon-pencil"></i></button>
                    <button ng-show="item.isDone && !item.isEdit" class="btn btn-small btn-danger" type="button" ng-click="deleteTodo(item)"><i class="icon-trash"></i></button>
                    <button ng-show="item.isEdit" class="btn  btn-small btn-success" type="button" ng-click="editTodo(item)"><i class="icon-save"></i></button>
                </span>

                <label class="pull-left todo-label">
                    <input ng-hide="item.isEdit" type="checkbox" ng-model="item.isDone" ng-change="markDone(item)">
                    <span ng-hide="item.isEdit" class="todo-text">{{item.data}}</span>
                    <input ng-show="item.isEdit" type="text" class="input-large" ng-model="item.data">
                </label>

                <div class="alert alert-error" ng-show="item.ErrorMsg">
                    <strong>Error</strong> {{item.ErrorMsg}}
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>

