<!-- Header -->
<%- include ../shared/header.ejs %>

<center class="top-buttons">
    <div class="btn-group">
        <button ng-click="gotoCreateGroup()" class="btn btn-medium"><i class="icon-plus-sign icon-white"></i> New</button>
        <button ng-click="gotoJoinGroup()" class="btn btn-medium"><i class="icon-list-alt icon-white"></i> Join</button>
        <button ng-click="gotoComposePost()" class="btn btn-medium"><i class="icon-pencil icon-white"></i> Compose</button>
    </div>
</center>

<!-- Content -->
<div class="container-fluid main">
    <h4 class="page-title">My Groups</h4>
    <ul class="list" ng-show="groups.length">
        <li ng-click="moveToGroup(group)" class="list-item" ng-repeat="group in groups">
            <div class="img-continer pull-left">
                <img ng-src="{{group.image}}" alt="{{group.name}}">
            </div>

            <a href="#" class="title">
                <span class="badge badge-warning">{{group.posts.length}}</span>
                <i class="icon-chevron-right"></i>
                {{group.name}}
            </a>
        </li>
    </ul>
    <center><h4 class="page-title" ng-show="groups.length == 0 && !isNoGroups">Loading...</h4></center>
    <center><h4 class="page-title" ng-show="groups.length == 0 && isNoGroups">You don't have any groups</h4></center>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>