<!-- Header -->
<%- include ../shared/header.ejs %>

<center class="top-buttons">
    <span class="loader-helper">
        <input  ng-change="search()" type="search" ng-model="query" class="search-group" placeholder="Group Name" />
        <div class="loader" ng-show="showLoader"></div>
        <i class="icon-search" ng-hide="showLoader"></i>
    </span>
</center>


<!-- Content -->
<div class="container-fluid main">
    <ul class="list" ng-show="groups.length">
        <li ng-click="goToPreview(group)" class="list-item" ng-repeat="group in groups | filter:query">
            <a href="#" class="title">
                <i class="icon-chevron-right"></i>
                {{group.name}}
            </a>
        </li>
    </ul>
    <center><h4 ng-hide="groups.length">No results</h4></center>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>