<!-- Header -->
<%- include ../shared/header.ejs %>

<center class="top-buttons">
    <input type="search" ng-model="query" />
    <button ng-click="search()" class="btn btn-large"><i class="icon-search icon-white"></i> Search</button>
</center>


<!-- Content -->
<div class="container-fluid main">
    <ul class="list">
        <li class="list-item" ng-repeat="group in groups | filter:query">
            <a ng-click="goToPreview(group)" href="#" class="title">
                <i class="icon-chevron-right"></i>
                {{group.name}}
            </a>
        </li>
    </ul>
</div>

<!-- Footer -->
<%- include ../shared/footer.ejs %>