
<!-- Header -->
<%- include ../shared/header.ejs %>


<div class="container-fluid">

    <form class="form-signin" ng-submit="login()">
        <input type="text" class="input-block-level" placeholder="Email address" ng-model="form.email">
        <input type="password" class="input-block-level" placeholder="Password" ng-model="form.password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="form.remeberme"> Remember me
        </label>
        <button class="btn btn-large btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <div class="row-fluid">
        <h4>New here?</h4>
        <a class="btn btn-large btn-success btn-block" href="/signup">Create New Account</a>
    </div>
</div>