<!-- Header -->
<%- include ../shared/header.ejs %>


<div class="container-fluid">

    <h4 class="page-title text-centered">{{groupName}}'s {{meterName}}</h4>

    <center class="boiler">
        <div class="temp-wrapper">
            <div class="temp-helper"></div>
            <div class="temp">
                <div style="height: {{ (boiler.data - 20) * 100 / 40 }}% "></div>
            </div>
        </div>
        <p  ng-class="getTempClass()" class="number">{{ boiler.data | celTemp}}</p>
        <div class="btn-group">
            <button type="button" ng-class="isOn()" class="btn" ng-model="boiler.status" btn-radio="'on'">On</button>
            <button type="button" ng-class="isOff()" class="btn" ng-model="boiler.status" btn-radio="'off'">Off</button>
        </div>
    </center>

</div>


<!-- Footer -->
<%- include ../shared/footer.ejs %>