
<!-- Header -->
<%- include ../shared/header.ejs %>


<div class="container-fluid">

    <form class="form-signin" ng-submit="signup()">
        <input type="text" ng-model="form.firstName" class="input-block-level" placeholder="First Name">
        <input type="text" ng-model="form.lastName" class="input-block-level" placeholder="Last Name">
        <input type="text" ng-model="form.username" class="input-block-level" placeholder="Username">
        <input type="text" ng-model="form.email" class="input-block-level" placeholder="Email Address">
        <input type="password" ng-model="form.password" class="input-block-level" placeholder="Password">
        <input type="password" ng-model="form.confirm_password" class="input-block-level" placeholder="Confirm Password">

        <button class="btn btn-large btn-primary btn-block" type="submit">Signup</button>
    </form>
</div>