
<!-- Header -->
<%- include ../shared/header.ejs %>

<div class="container-fluid">

    <form name="signupForm" class="form-signin" ng-submit="signup()">
        <p ng-show="formInvalid" class="red">Some fields are incorrect.</p>

        <input type="text" required ng-model="form.firstName" class="input-block-level" placeholder="First Name">
        <input type="text" required ng-model="form.lastName" class="input-block-level" placeholder="Last Name">

        <input type="text" name="username" ui-event="{ blur: 'validateUserName(form.username)' }" required ng-model="form.username" class="input-block-level" placeholder="Username">
        <p ng-show="usernameInvalid" class="red">This username is in use, please enter a new one.</p>

        <input type="email" required ng-model="form.email" class="input-block-level" placeholder="Email Address">
        <input type="password" required ng-model="form.password" class="input-block-level" placeholder="Password">
        <input type="password" required ng-model="form.confirm_password" class="input-block-level" placeholder="Confirm Password">
        <p ng-show="confirmPasswordInvalid" class="red">The passwords don't match</p>
        <div class="row-fluid">
            <input type="text"  ng-model="birthDayParts.Day" class="input-block-level span1" placeholder="Day of birth">
            <input type="text"  ng-model="birthDayParts.Month" class="input-block-level span1" placeholder="Month of birth">
            <input type="text"  ng-model="birthDayParts.Year" class="input-block-level span1" placeholder="Year of birth">
        </div>
        <button class="btn btn-large btn-primary btn-block" type="submit">Signup</button>
    </form>
</div>